#logo-div {
    display: flex;
    justify-content: center;
    height: 60px;
    margin: 40px 0;
}

#date-div {
    display: flex;
    justify-content: center;
    color: #929292;
    font-size: 18px;
    margin: 13px 0;
}

#video-div {
    
}

#video-preImg-div > div[class="css-text-901oao"]
, #video-nowImg-div > div[class="css-text-901oao"]
, #video-nextImg-div > div[class="css-text-901oao"] {
    position: absolute;
}

#video-preImg-div > div[class="css-text-901oao"] {
    left: 7%;
    top: 49%;
}

#video-nowImg-div > div[class="css-text-901oao"] {
    opacity: 90%;
    z-index: 99;
}

#video-nextImg-div > div[class="css-text-901oao"] {
    right: 7%;
    top: 49%;
}

#video-preImg-div > #preImg, #video-nextImg-div > #nextImg {
    width: 200px;
    height: 200px;
    border-radius: 180px;
    opacity: 70%;
    position: absolute;
}

#video-preImg-div > #preImg {
    left: -15%;
    top: 38%;
}

#video-nextImg-div > #nextImg {
    right: -15%;
    top: 38%;
}

#video-nowImg-div > #nowImg {
    width: 250px;
    height: 250px;
    border-radius: 180px;
    border-style: double;
    border-width: 3px;
    border-color: #456481;
    /* position: absolute; */

    z-index: 99;
}

#video-nowImg-div {
    display: flex;
    align-items: center;
    justify-content: center;
}

#info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 67px;
    margin-bottom: 37px;
}

#info-div > div {
    display: flex;
    margin: 7px 0;
}

#info-div > div > div[class="css-text-901oao"] {
    margin-right: 15px;
}

#info-div > div > span{
    color: #929292;
    font-size: 14px;
}

#record-div {
    display: flex;
    justify-content: center;
    margin: 5px;
}

#record-btn {
    height: 70px;
    width: 230px;
    border-radius: 40px;
    border-color: #456481;
    background-color: #456481;
    margin: 12.5px 0;
    border-style: double;
    border-width: 1px;
    box-shadow: #838383 0px 3px 5px 1px;
}